<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboticaFace · Phoenix Framework</title>
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link("Robotica", to: Routes.page_path(@conn, :index), class: "navbar-brand") %>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <%= if RoboticaFace.Auth.user_signed_in?(@conn) do %>
            <li class="nav-item <%= active_class(@active, "local") %>">
              <%= link("Local", to: Routes.page_path(@conn, :local), class: "nav-link") %>
            </li>
            <li class="nav-item <%= active_class(@active, "schedule") %>">
              <%= link("Schedule", to: Routes.page_path(@conn, :schedule), class: "nav-link") %>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= RoboticaFace.Auth.current_user(@conn)["name"] %>
              </a>
              <div class="dropdown-menu">
                <%= link "Logout", to: Routes.session_path(@conn, :logout), method: :post, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item <%= active_class(@active, "login") %>">
              <%= link("Login", to: Routes.session_path(@conn, :index), class: "nav-link") %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <%= for {flash_key, flash_message} <- get_flash(@conn) do %>
        <p class="alert alert-<%= flash_key %>"><%= flash_message %></p>
      <% end %>
      <%= @inner_content %>
    </main>
    <%= csrf_meta_tag() %>
    <script
      type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>
  </body>

  <footer class="text-muted small">
    <div class="container">
      Version <%= Application.get_env(:robotica_common, :vcs_ref) %> built on
      <%= Application.get_env(:robotica_common, :build_date) %>
    </div>
  </footer>
</html>
