<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboticaFace · Phoenix Framework</title>
    <link
      rel="stylesheet"
      href={Routes.static_path(@conn, "/css/app.css")}
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= live_redirect("Robotica", to: Routes.page_path(@conn, :index), class: "navbar-brand") %>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% user =  RoboticaFaceWeb.Auth.current_user(@conn) %>
          <%= if user != nil do %>
            <li class="nav-item">
              <%= live_redirect("Local", to: Routes.local_path(@conn, :local), class: link_class(:active, "local")) %>
            </li>
            <li class="nav-item">
              <%= live_redirect("Schedule", to: Routes.schedule_path(@conn, :schedule), class: link_class(:active, "schedule")) %>
            </li>

            <%= if RoboticaFaceWeb.Auth.user_is_admin?(user) do %>
              <li class="nav-item">
                <%= live_redirect("Dashboard", to: Routes.live_dashboard_path(@conn, :home), class: link_class(@active, "dashboard")) %>
              </li>
            <% end %>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= user["name"] %>
              </a>
              <div class="dropdown-menu">
                <%= live_redirect "Logout", to: Routes.page_path(@conn, :logout), method: :post, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
           <li class="nav-item">
              <%= live_redirect("Login", to: Routes.page_path(@conn, :login), class: link_class(@active, "login") ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <%= for {flash_key, flash_message} <- get_flash(@conn) do %>
        <p class={"alert alert-#{flash_key}"}><%= flash_message %></p>
      <% end %>
      <%= @inner_content %>
    </main>
    <%= csrf_meta_tag() %>
    <script
      type="text/javascript"
      src={Routes.static_path(@conn, "/js/app.js")}
    ></script>
  </body>

  <footer class="text-muted small">
    <div class="container">
      Version <%= Application.get_env(:robotica_common, :vcs_ref) %> built on
      <%= Application.get_env(:robotica_common, :build_date) %>
    </div>
  </footer>
</html>
