<h1>Schedule</h1>
<% user = RoboticaFace.Auth.current_user(@conn) %>
<%= live_render(@conn, RoboticaFaceWeb.Live.Schedule, session: %{"user" => user}) %>
<%= live_render(@conn, RoboticaFaceWeb.Live.Messages, session: %{"user" => user}) %>
