hosts:
  silverfish: Brian
locations:
  "Brian":
    local_buttons:
    - name: "Lights"
      buttons:
      - name: "On"
        tasks:
        - action:
            lights:
              action: turn_on
              color: {hue: 0, saturation: 0, brightness: 100, kelvin: 5000}
            sound: "beep"
      - name: "Dim"
        tasks:
        - action:
            lights:
              action: turn_on
              color: {hue: 0, saturation: 0, brightness: 20, kelvin: 5000}
            sound: "beep"
      - name: "Sleep"
        tasks:
        - action:
            lights:
              action: turn_off
              duration: 30
            sound: "beep"
      - name: "Off"
        tasks:
        - action:
            lights:
              action: turn_off
            sound: "beep"
    - name: "Music"
      buttons:
      - name: "Red"
        tasks:
        - action:
            music:
              play_list: "red"
      - name: "Green"
        tasks:
        - action:
            music:
              play_list: "green"
      - name: "Blue"
        tasks:
        - action:
            music:
              play_list: "blue"
      - name: "Off"
        tasks:
        - action:
            music:
              stop: true
    - name: "TV"
      buttons:
      - name: "WiiU"
        tasks:
        - action:
            hdmi:
              source: 1
      - name: "Google"
        tasks:
        - action:
            hdmi:
              source: 2
      - name: "XBox1"
        tasks:
        - action:
            hdmi:
              source: 3
      - name: "MythTV"
        tasks:
        - action:
            hdmi:
              source: 4
