hosts:
  silverfish: Brian
locations:
  "Brian":
    local_buttons:
    - name: "Lights"
      buttons:
      - name: "On"
        commands:
        - msg:
              action: turn_on
              color: {hue: 0, saturation: 0, brightness: 100, kelvin: 5000}
          devices: ["Light"]
      - name: "Dim"
        commands:
        - msg:
              action: turn_on
              color: {hue: 0, saturation: 0, brightness: 20, kelvin: 5000}
          devices: ["Light"]
      - name: "Sleep"
        commands:
        - msg:
              action: turn_off
              duration: 30
          devices: ["Light"]
      - name: "Off"
        commands:
        - msg:
              action: turn_off
          devices: ["Light"]
    - name: "Music"
      buttons:
      - name: "Red"
        commands:
        - msg:
            music:
              play_list: "red"
          devices: ["Robotica"]
      - name: "Green"
        commands:
        - msg:
            music:
              play_list: "green"
          devices: ["Robotica"]
      - name: "Blue"
        commands:
        - msg:
            music:
              play_list: "blue"
          devices: ["Robotica"]
      - name: "Off"
        commands:
        - msg:
            music:
              stop: true
          devices: ["Robotica"]
    - name: "TV"
      buttons:
      - name: "WiiU"
        commands:
        - msg:
              source: 1
          devices: ["TV"]
      - name: "Google"
        commands:
        - msg:
              source: 2
          devices: ["TV"]
      - name: "XBox1"
        commands:
        - msg:
              source: 3
          devices: ["TV"]
      - name: "MythTV"
        commands:
        - msg:
              source: 4
          devices: ["TV"]
