"*":
    "08:30:00":
        - "kids:wake_up"
    "09:00:00":
        - "adults:wake_up"
    "12:00:00":
        - "lunch_time"
    "18:00:00":
        - "tea_time"
    "20:30:00":
        - "kids:sleep"
        - "adults:sleep"

"work_day":
    "06:15:00":
        - "brian:wake_up"

"school_day":
    "07:30:00":
        - "kids:wake_up"
