local_locations:
- "AnotherBrian"
remote_locations:
- "AnotherBrian"
- "Brian"
- "Dining"
- "Twins"
- "Akira"
local_buttons:
- name: "Lights"
  buttons:
  - name: "On"
    action:
      lights:
        action: turn_on
        color: {hue: 0, saturation: 0, brightness: 100, kelvin: 5000}
      sound: "beep"
  - name: "Dim"
    action:
      lights:
        action: turn_on
        color: {hue: 0, saturation: 0, brightness: 20, kelvin: 5000}
      sound: "beep"
  - name: "Sleep"
    action:
      lights:
        action: turn_off
        duration: 30
      sound: "beep"
  - name: "Off"
    action:
      lights:
        action: turn_off
      sound: "beep"
- name: "Music"
  buttons:
  - name: "Red"
    action:
      music:
        play_list: "red"
  - name: "Green"
    action:
      music:
        play_list: "green"
  - name: "Blue"
    action:
      music:
        play_list: "blue"
  - name: "Off"
    action:
      music:
        stop: true
- name: "TV"
  buttons:
  - name: "Wii"
    action:
      hdmi:
        source: 1
  - name: "Google"
    action:
      hdmi:
        source: 2
  - name: "XBox"
    action:
      hdmi:
        source: 3
  - name: "MythTV"
    action:
      hdmi:
        source: 4
remote_buttons:
- name: "Lights"
  buttons:
  - name: "On"
    action:
      lights:
        action: turn_on
        color: {hue: 0, saturation: 0, brightness: 100, kelvin: 5000}
  - name: "Dim"
    action:
      lights:
        action: turn_on
        color: {hue: 0, saturation: 0, brightness: 20, kelvin: 5000}
  - name: "Sleep"
    action:
      lights:
        action: turn_off
        duration: 30
  - name: "Off"
    action:
      lights:
        action: turn_off
- name: "Music"
  buttons:
  - name: "Red"
    action:
      music:
        play_list: "red"
  - name: "Green"
    action:
      music:
        play_list: "green"
  - name: "Blue"
    action:
      music:
        play_list: "blue"
  - name: "Off"
    action:
      music:
        stop: true
- name: "Message"
  buttons:
  - name: "Dog"
    action:
      message:
        text: "Woof woof woof!"
  - name: "Cat"
    action:
      message:
        text: "Meow meow meow!"
  - name: "Telephone"
    action:
      message:
        text: "Ring ring"
  - name: "Test"
    action:
      message:
        text: "This is a test only."
